<div class="container">

  <div class="mt-4">
    <app-form [data]="dataTBS" (resetEdit)="clearEditdata()" (addEvent)="scrollHandeler()"></app-form>
  </div>

  <div class="table">
    <div class="inner scroll_style">

      <div class="table-head">
        <div>Name</div>
        <div>Email</div>
        <div>Medicine</div>
        <div>Age<i class="ml-2 fas fa-arrow-down" [ngClass]="{'sortToggle': sortStatus}" (click)="sort()"></i></div>
        <div>Action</div>
      </div>

      <div class="table-body" [ngClass]="{'pointer-none':dataTBS!==undefined}">

        <div class="table-item" *ngFor="let usr of initData;let i=index">
          <div [ngClass]="{'inEditState':dataTBS!==undefined && usr._id==dataTBS._id}">{{usr.name}}</div>
          <div [ngClass]="{'inEditState':dataTBS!==undefined && usr._id==dataTBS._id}">{{usr.email}}</div>
          <div [ngClass]="{'inEditState':dataTBS!==undefined && usr._id==dataTBS._id}">{{usr.med}}</div>
          <div [ngClass]="{'inEditState':dataTBS!==undefined && usr._id==dataTBS._id}">{{usr.age}}</div>
          <div class="d-flex align-items-center justify-content-start act"
            [ngClass]="{'inEditState':dataTBS!==undefined && usr._id==dataTBS._id}">
            <i class="fas fa-edit mr-3" (click)="sendData(usr)"
              [ngClass]="{'activeEditicn':dataTBS!==undefined && usr._id==dataTBS._id}"></i>
            <i class="far fa-trash-alt" (click)="deleteItem(i)"></i>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
